<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>

<body>

<style>
    html, body {
        height: 100%;
    }
</style>

<!--РЕДАКТИРОВАНИЕ-->

<div id="editUser" class="modal fade">
    <form class="form" name="updateUser" method="post" id="updateUserModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="card text-center">
                    <div class="card-header font-weight-bolder text-left bg-white">
                        Edit user
                        <button class="close" data-dismiss="modal">x</button>
                    </div>
                    <input type="hidden" id="idEdit">

                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder" for="nameEdit">Имя</label>
                        <input required type="text" class="form-control form-control-sm" id="nameEdit"
                               name="name" placeholder="Name">
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder" for="lastNameEdit">Фамилия</label>
                        <input required type="text" class="form-control form-control-sm" id="lastNameEdit"
                               name="name" placeholder="Name">
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">Пароль</label>
                        <input type="password" class="form-control form-control-sm" id="passwordEdit"
                               name="password" placeholder="Пароль">
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">Роль</label>
                        <select class="form-control form-control-sm bg-light" id="roleEdit" name="roles" multiple>
                        </select>
                    </div>


                    <div class="card-footer text-right bg-white">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-primary" type="submit" value="Edit"/>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<!-- УДАЛЕНИЕ -->

<div id="deleteUser" class="modal fade">
    <form class="form" name="deleteUser" method="post" id="deleteUserModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="card text-center">
                    <div class="card-header font-weight-bolder text-left bg-white">
                        Delete user
                        <button class="close" data-dismiss="modal">x</button>
                    </div>
                    <input type="hidden" name="id" id="idDelete">

                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder" for="nameEdit">Имя</label>
                        <input required type="text" class="form-control form-control-sm" id="nameDelete"
                               name="name" placeholder="Имя">
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder" for="lastNameEdit">Фамилия</label>
                        <input required type="text" class="form-control form-control-sm" id="lastNameDelete"
                               name="name" placeholder="Фамилия">
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">Пароль</label>
                        <input type="password" class="form-control form-control-sm" id="passwordDelete"
                               name="password" placeholder="Пароль">
                    </div>
                    <div class="form-group mx-auto w-50">
                        <label class="font-weight-bolder">Роль</label>
                        <select class="form-control form-control-sm bg-light" id="roleDelete" name="roles" multiple>
                        </select>
                    </div>

                    <div class="card-footer text-right bg-white">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid d-flex h-100 flex-column">
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <span id="header" class="navbar-text col-md-10" style="color: white"></span>
        <a class="text-white-50 p-2" href="#" th:href="@{/logout}">Logout</a>
    </nav>

    <br/>
    <br/>

    <div class="row pt-5 bg-light flex-fill d-flex justify-content-start">
        <div class="col col-md-2 bg-white portlet-container portlet-dropzone">
            <div class="d-inline-block"></div>
            <ul class="nav nav-pills flex-column" id="tabsAdminUser">
            </ul>
        </div>

        <div class="col col-md-10 portlet-container portlet-dropzone">
            <div class="mt-3 d-inline-block" style="width: 100%">
                <div class="tab-content" id="tabsContent">

                    <!--ADMIN PANEL-->
                    <div class="tab-pane fade show active" id="adminPanel">
                        <h2 class="text-left">Admin panel</h2>

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#usersTable" id="allUsersTable">Users
                                    tabe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#newUser" id="addNewUser">New user</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="usersTable">
                                <div class="card">
                                    <div class="card-header font-weight-bolder">
                                        All users
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped w-100">
                                            <thead>
                                            <tr>
                                                <th class="p-2">Id</th>
                                                <th class="p-2">Имя</th>
                                                <th class="p-2">Фамилия</th>
                                                <th class="p-2">Пароль</th>
                                                <th class="p-2">Роль</th>
                                                <th class="p-2" style="width: 9%">Edit</th>
                                                <th class="p-2" style="width: 9%">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="allUsers">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- CREATE -->
                            <div class="tab-pane fade" id="newUser">
                                <div class="card text-center">
                                    <div class="card-header font-weight-bolder text-left">
                                        Add new user
                                    </div>
                                    <form class="form mx-auto w-25 p-3" id="addUser">
                                        <div class="form-group">
                                            <label class="font-weight-bolder" for="name">Имя</label>
                                            <input required type="text"
                                                   class="form-control form-control-sm"
                                                   id="name"
                                                   placeholder="Имя">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bolder" for="lastName">Фамилия</label>
                                            <input required type="text"
                                                   class="form-control form-control-sm"
                                                   id="lastName"
                                                   placeholder="Фамилия">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bolder" for="password">Пароль</label>
                                            <input required type="password"
                                                   class="form-control form-control-sm"
                                                   id="password"
                                                   placeholder="Пароль">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bolder" for="roles">Роль</label>
                                            <select class="form-control form-control-sm"
                                                    id="roles"
                                                    multiple>
                                            </select>
                                        </div>
                                        <div>
                                            <button class="btn btn-success text-white w-50" type="submit">Add new user
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- USER INFO -->
                    <div class="tab-pane fade" id="userAdmin">
                        <h2 class="text-left">User information page</h2>
                        <div class="card">
                            <div class="card-header font-weight-bolder">
                                About user
                            </div>
                            <div class="card-body">
                                <table class="table table-striped w-100">
                                    <thead>
                                    <tr>
                                        <th class="p-2">Id</th>
                                        <th class="p-2">Имя</th>
                                        <th class="p-2">Фамилия</th>
                                        <th class="p-2">Пароль</th>
                                        <th class="p-2">Роль</th>
                                    </tr>
                                    </thead>
                                    <tbody id="getUser">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/getUser.js"></script>
<script src="/allUsers.js"></script>
<script src="/editUser.js"></script>
<script src="/deleteUser.js"></script>
<script src="/addUser.js"></script>
<script src="/util.js"></script>

</body>
</html>
